<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.turistic20">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="turisTic2.0"
        android:roundIcon="@mipmap/ic_index_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TurisTic20">
        <activity
            android:name=".botton.BottomActivity"
            android:exported="true"
            android:label="turisTic2.0">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>

        <activity
            android:name=".main.MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>